[submodule "decoder_modules/sdrpp_radiosonde/src/decode/sondedump"]
	path = decoder_modules/sdrpp_radiosonde/src/decode/sondedump
	url = https://github.com/dbdexter-dev/sondedump.git
	branch = master
